<section class="primary" id="blog">
  <div class="container blog-section" id="blog">
      <div class="container">
        <div class="row">
          <div class="col-lg-12  text-center">
            <h2 class="section-heading">Blog Posts</h2>
            <hr class="">
          </div>
        </div>
        <div class="container-fluid blog-title">
          <div class="row" id="jsonContent">
          </div>
        </div>

        <div class="more-articles text-center blog-title" >
          <hr class="light hrSize">
          <p><a href="https://medium.com/@will23larry" target="_blank">See More Articles...</a></p>
        </div>
      </div>
  </div>
</section>
<hr class="" style="max-width: 900px !important">
