<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">About Me</h2>
                <hr class="light">
                <p class="text-faded">In my experience as a Student Ministry Director, Non-Profit Director, and Operations Manager, I had the opportunity to work with exceptional leaders who taught me the value of being a learner, self-starter, and always leaving a place better than I found it. As I began to explore the world of software development, I drew on the invaluable lessons I learned from my previous leaders and stepped out to forge a new path in my career.<hr></p>

                <p class="text-faded">When my wife, Katie, and I relocated to Kansas City last year, I researched development bootcamps and discovered this skill-set opened the door to hundreds of different career opportunities. Not only could I do something that was challenging and fun, but I could also help companies achieve their goals by creating distinctive and intuitive products/websites.<hr></p>

                <p class="text-faded">I began searching for a program providing a well-rounded, thorough knowledge base of Software Development and Programming. With the weekly one-on-one mentoring, assignments that work towards building a portfolio, and job placement record, the Bloc bootcamp stood head and shoulders above the rest. I currently work as a developer at Soleran, a tech company in Overland Park, KS, where I  apply the knowledge I've gained from Bloc to create application and websites.
</p>
                <!-- <a href="#" class="btn btn-default btn-xl">Get Started!</a> -->
            </div>
        </div>
    </div>
</section>
