<section class="no-padding" id="portfolio" style="padding-top: 100px">
  <div class="container-fluid">
    <div class="col-sm-12 text-center">
      <h2 class="section-heading">My Work</h2>
      <hr class="primary">
    </div>
    <div style="height: 317px" class="row no-gutter">
      <div class="col-lg-3">
        <a href="https://github.com/geekiam23/recipe-api" target="_blank" class="portfolio-box">
          <img src="img/gql.jpeg" class="img-responsive" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-name">
                Recipe App - Api
              </div>
              <hr class="light hrSize">
              <div class="project-name">
                Tech Used
              </div>
              <hr class="light hrSize">
              <div class="project-category text-faded">
                Ruby on Rails, Devise, Graphql, and Faker.
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-3">
        <a href="https://github.com/geekiam23/next-recipe" target="_blank" class="portfolio-box">
          <img src="img/react.jpeg" class="img-responsive" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-name">
                Recipe App
              </div>
              <hr class="light hrSize">
              <div class="project-name">
                Tech Used
              </div>
              <hr class="light hrSize">
              <div class="project-category text-faded">
                Next.js.
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-3">
        <a href="https://github.com/geekiam23/splash-app" target="_blank" class="portfolio-box">
          <img src="img/react-native.jpeg" class="img-responsive" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-name">
                Splash App
              </div>
              <hr class="light hrSize">
              <div class="project-name">
                Tech Used
              </div>
              <hr class="light hrSize">
              <div class="project-category text-faded">
                React Native
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-3">
        <a href="https://github.com/geekiam23/recipes-mobile" target="_blank" class="portfolio-box">
          <img src="img/react-native.jpeg" class="img-responsive" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-name">
                Recipe App
              </div>
              <hr class="light hrSize">
              <div class="project-name">
                Tech Used
              </div>
              <hr class="light hrSize">
              <div class="project-category text-faded">
                React Native, Jest, React Testing Library
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>

    <!-- </div> -->
  </div>
  </div>
</section>