<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-3 col-sm-6">
                <a href="https://github.com/geekiam23/bloc-jams-angular?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base%3BhaP9%2FUicRqKPH6bUHTq9Yg%3D%3D" class="portfolio-box">
                    <img src="img/portfolio/image004.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                          <div class="project-name">
                            Anytime Jams
                          </div>
                          <div class="project-category text-faded">
                              Built a replica of Spotify (digital music player) with Angular
                          </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-sm-6">
                <a href="https://github.com/geekiam23/bloc-chat/?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base%3BhaP9%2FUicRqKPH6bUHTq9Yg%3D%3D" class="portfolio-box">
                    <img src="img/portfolio/image003.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                          <div class="project-name">
                            Chat Chat
                          </div>
                          <div class="project-category text-faded">
                            Built a real time chat application built with AngularJS that uses Google’s Firebase Cloud Messaging.
                          </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-sm-6">
                <a href="https://github.com/geekiam23/bloccit?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base%3BhaP9%2FUicRqKPH6bUHTq9Yg%3D%3D" class="portfolio-box">
                    <img src="img/portfolio/image002.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                          <div class="project-name">
                            Shareit
                          </div>
                          <div class="project-category text-faded">
                            Built a production-quality social media application, similar to Reddit, where users can post, vote on, share and save links and comments 
                          </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-sm-6">
                <a href="https://github.com/geekiam23/blocipedia?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base%3BhaP9%2FUicRqKPH6bUHTq9Yg%3D%3D" class="portfolio-box">
                    <img src="img/portfolio/image001.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                          <div class="project-name">
                            Wiki Wiki What
                          </div>
                          <div class="project-category text-faded">
                            Built a Wikipedia-like app built with Ruby on Rails. Create, edit, and collaborate on the wikis of your choice.
                          </div>
                        </div>
                    </div>
                </a>
            </div>
            <!-- <div class="col-lg-3 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/6.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                          <div class="project-name">
                            Anytime Jams
                          </div>
                          <div class="project-category text-faded">
                              Built a replica of Spotify (digital music player) with Angular
                          </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-sm-6">
              <a href="#" class="portfolio-box">
                <img src="img/portfolio/1.jpg" class="img-responsive" alt="">
                <div class="portfolio-box-caption">
                  <div class="portfolio-box-caption-content">
                    <div class="project-name">
                      Anytime Jams
                    </div>
                    <div class="project-category text-faded">
                      Built a replica of Spotify (digital music player) with Angular
                    </div>
                  </div>
                </div>
              </a>
            </div> -->
        </div>
    </div>
</section>
