<section class="no-padding" id="portfolio" style="padding-top: 100px">
    <div class="container-fluid">
      <div class="col-sm-12 text-center">
        <h2 class="section-heading">My Work</h2>
        <hr class="primary">
      </div>
        <div class="row no-gutter">
            <div class="col-sm-6">
              <a href="https://github.com/geekiam23/bloc-jams-angular?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base%3BhaP9%2FUicRqKPH6bUHTq9Yg%3D%3D" target="_blank" class="portfolio-box">
                <img src="img/profilePics/bj.png" class="img-responsive" alt="">
                <div class="portfolio-box-caption">
                  <div class="portfolio-box-caption-content">
                    <div class="project-name">
                      Anytime Jams
                    </div>
                    <hr class="light hrSize">
                    <div class="project-category text-faded project-text">
                      Built a replica of Spotify (digital music player) with Angular
                      Anytime Jams is a Spotify inspired music application built with AngularJS. <br><br>
                    </div>
                    <div class="project-name">
                        Tech Used
                    </div>
                    <hr class="light hrSize">
                    <div class="project-category text-faded">
                      AngularJS, JQuery, HTML5, and CSS.
                    </div>
                  </div>
                </div>
              </a>
            </div>
            <div class="col-sm-6">
                <a href="https://github.com/geekiam23/bloc-chat/?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base%3BhaP9%2FUicRqKPH6bUHTq9Yg%3D%3D" target="_blank" class="portfolio-box">
                    <img src="img/profilePics/bc1.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                          <div class="project-name">
                            Chat Chat
                          </div>
                          <hr class="light hrSize">
                          <div class="project-category text-faded project-text">
                            Chit Chat is a Slack inspired messaging application built with AngularJS and Firebase. Users can create chat rooms and send/receive messages real time. <br><br>
                          </div>
                          <div class="project-name">
                              Tech Used
                          </div>
                          <hr class="light hrSize">
                          <div class="project-category text-faded">
                            AngularJS and Firebase.
                          </div>
                        </div>
                    </div>
                </a>
            </div>
          </div>
          <div class="row no-gutter">
            <div class="col-sm-6">
                <a href="https://github.com/geekiam23/bloccit?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base%3BhaP9%2FUicRqKPH6bUHTq9Yg%3D%3D" target="_blank" class="portfolio-box">
                    <img src="img/profilePics/bcc.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                          <div class="project-name">
                            Shareit
                          </div>
                          <hr class="light hrSize">
                          <div class="project-category text-faded project-text">
                            Shareit is a Reddit inspired application built with Ruby on Rails. Users can sign up, create posts, comment on posts, vote on posts, favorite posts and receive updates on their favorite posts via email. <br><br>
                          </div>
                          <div class="project-name">
                              Tech Used
                          </div>
                          <hr class="light hrSize">
                          <div class="project-category text-faded">
                            Ruby on Rails, RSpec, SendGrid, Figaro, Bootstrap, and FactoryGirl.
                          </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-6">
                <a href="https://github.com/geekiam23/blocipedia?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base%3BhaP9%2FUicRqKPH6bUHTq9Yg%3D%3D" target="_blank" class="portfolio-box">
                    <img src="img/profilePics/bp.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                          <div class="project-name">
                            Wiki Wiki What
                          </div>
                          <hr class="light hrSize">
                          <div class="project-category text-faded project-text">
                            Wiki Wiki What is a SaaS wiki collaboration tool built using Ruby on Rails. Standard users can create public wikis while premium users can create and collaborate on private wikis. <br><br>
                          </div>
                          <div class="project-name">
                              Tech Used
                          </div>
                          <hr class="light hrSize">
                          <div class="project-category text-faded">
                            Ruby on Rails, Stripe, Devise, Pundit, Figaro, Redcarpet, Bootstrap, and Faker.
                          </div>
                        </div>
                    </div>
                </a>
            </div>
          </div>
          <div class="row no-gutter">
            <div class="col-sm-6">
                <a href="https://github.com/geekiam23/checkitoff-api" target="_blank" class="portfolio-box">
                    <img src="img/profilePics/cio.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                          <div class="project-name">
                            CheckItOff-API
                          </div>
                          <hr class="light hrSize">
                          <div class="project-category text-faded project-text">
                            CheckItOff-API is an externally usable API for a basic to-do list application. This API will allow users to modify user accounts and to-do items from the command line.<br><br>
                          </div>
                          <div class="project-name">
                              Tech Used
                          </div>
                          <hr class="light hrSize">
                          <div class="project-category text-faded">
                            Ruby on Rails, Active Model Serializers, Devise, Devise Token Authentication, and Faker.
                          </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-6">
              <a href="https://github.com/geekiam23/rental-investments" target="_blank" class="portfolio-box">
                <img src="img/profilePics/ri.png" class="img-responsive" alt="">
                <div class="portfolio-box-caption">
                  <div class="portfolio-box-caption-content">
                    <div class="project-name">
                      Rental Investments
                    </div>
                    <hr class="light hrSize">
                    <div class="project-category text-faded project-text">
                      Rental Investmetns is a Ruby on Rails app that provides stats to advise if a rental property is a good investment. <br><br>
                    </div>
                    <div class="project-name">
                        Tech Used
                    </div>
                    <hr class="light hrSize">
                    <div class="project-category text-faded">
                      Ruby on Rails, Devise, Faker, Gon, Exonio, Pundit and Figaro.
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
    </div>
</section>


<!--
<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
          <div class="col-lg-12 text-center">
              <h2 class="section-heading">My Work</h2>
              <hr class="primary">
          </div>
            <div class="col-lg-4 col-sm-6">
              <a href="https://github.com/geekiam23/bloc-jams-angular?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base%3BhaP9%2FUicRqKPH6bUHTq9Yg%3D%3D" target="_blank" class="portfolio-box">
                <img src="img/profilePics/bjbw.png" class="img-responsive" alt="">
                <div class="portfolio-box-caption">
                  <div class="portfolio-box-caption-content">
                    <div class="project-name">
                      Anytime Jams
                    </div>
                    <div class="project-category text-faded">
                        Built a replica of Spotify (digital music player) with Angular
                    </div>
                  </div>
                </div>
              </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://github.com/geekiam23/bloc-chat/?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base%3BhaP9%2FUicRqKPH6bUHTq9Yg%3D%3D" target="_blank" class="portfolio-box">
                    <img src="img/profilePics/bc1bw.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                          <div class="project-name">
                            Chat Chat
                          </div>
                          <div class="project-category text-faded">
                            Built a real time chat application built with AngularJS that uses Google’s Firebase Cloud Messaging.
                          </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://github.com/geekiam23/bloccit?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base%3BhaP9%2FUicRqKPH6bUHTq9Yg%3D%3D" target="_blank" class="portfolio-box">
                    <img src="img/profilePics/bcc.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                          <div class="project-name">
                            Shareit
                          </div>
                          <div class="project-category text-faded">
                            Built a production-quality social media application, similar to Reddit, where users can post, vote on, share and save links and comments 
                          </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="https://github.com/geekiam23/blocipedia?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base%3BhaP9%2FUicRqKPH6bUHTq9Yg%3D%3D" target="_blank" class="portfolio-box">
                    <img src="img/profilePics/bp.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                          <div class="project-name">
                            Wiki Wiki What
                          </div>
                          <div class="project-category text-faded">
                            Built a Wikipedia-like app built with Ruby on Rails. Create, edit, and collaborate on the wikis of your choice.
                          </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://github.com/geekiam23/checkitoff-api" target="_blank" class="portfolio-box">
                    <img src="img/profilePics/cio-bw.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                          <div class="project-name">
                            CheckItOff-API
                          </div>
                          <div class="project-category text-faded">
                              Built an externally usable API for a to-do list application.
                          </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
              <a href="https://github.com/geekiam23/rental-investments" target="_blank" class="portfolio-box">
                <img src="img/profilePics/ri-bw.png" class="img-responsive" alt="">
                <div class="portfolio-box-caption">
                  <div class="portfolio-box-caption-content">
                    <div class="project-name">
                      Rental Investments
                    </div>
                    <div class="project-category text-faded">
                      Built a Ruby on Rails app that provides stats to advise if a rental property is a good investment
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
    </div>
</section>



<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
          <div class="col-lg-12 text-center">
              <h2 class="section-heading">My Work</h2>
              <hr class="primary">
          </div>
            <div class="col-lg-4 col-sm-6">
              <a href="https://github.com/geekiam23/bloc-jams-angular?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base%3BhaP9%2FUicRqKPH6bUHTq9Yg%3D%3D" target="_blank" class="portfolio-box">
                <img src="img/profilePics/bjo.png" class="img-responsive" alt="">
                <div class="portfolio-box-caption">
                  <div class="portfolio-box-caption-content">
                    <div class="project-name">
                      Anytime Jams
                    </div>
                    <div class="project-category text-faded">
                        Built a replica of Spotify (digital music player) with Angular
                    </div>
                  </div>
                </div>
              </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://github.com/geekiam23/bloc-chat/?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base%3BhaP9%2FUicRqKPH6bUHTq9Yg%3D%3D" target="_blank" class="portfolio-box">
                    <img src="img/profilePics/bc1.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                          <div class="project-name">
                            Chat Chat
                          </div>
                          <div class="project-category text-faded">
                            Built a real time chat application built with AngularJS that uses Google’s Firebase Cloud Messaging.
                          </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://github.com/geekiam23/bloccit?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base%3BhaP9%2FUicRqKPH6bUHTq9Yg%3D%3D" target="_blank" class="portfolio-box">
                    <img src="img/profilePics/bcco.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                          <div class="project-name">
                            Shareit
                          </div>
                          <div class="project-category text-faded">
                            Built a production-quality social media application, similar to Reddit, where users can post, vote on, share and save links and comments 
                          </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="https://github.com/geekiam23/blocipedia?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base%3BhaP9%2FUicRqKPH6bUHTq9Yg%3D%3D" target="_blank" class="portfolio-box">
                    <img src="img/profilePics/bp.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                          <div class="project-name">
                            Wiki Wiki What
                          </div>
                          <div class="project-category text-faded">
                            Built a Wikipedia-like app built with Ruby on Rails. Create, edit, and collaborate on the wikis of your choice.
                          </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://github.com/geekiam23/checkitoff-api" target="_blank" class="portfolio-box">
                    <img src="img/profilePics/cio-o.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                          <div class="project-name">
                            CheckItOff-API
                          </div>
                          <div class="project-category text-faded">
                              Built an externally usable API for a to-do list application.
                          </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
              <a href="https://github.com/geekiam23/rental-investments" target="_blank" class="portfolio-box">
                <img src="img/profilePics/ri.png" class="img-responsive" alt="">
                <div class="portfolio-box-caption">
                  <div class="portfolio-box-caption-content">
                    <div class="project-name">
                      Rental Investments
                    </div>
                    <div class="project-category text-faded">
                      Built a Ruby on Rails app that provides stats to advise if a rental property is a good investment
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
    </div>
</section> -->
