<section class="bg-primary" id="resume">
  <div class="container">
    <div class="row">
      <div class="col-lg-12  text-center">
        <h2 class="section-heading">Need Copy of My Resume?</h2>
        <hr class="light">
      </div>
    </div><br><br>
    <div class="row">
      <div class="col-lg-12  text-center">
        <a href="https://drive.google.com/file/d/1aLB6kadfxOKi3PQde99JxOUylBlQGWzq/view?usp=sharing" target="_blank">
          <button type="button" class="btn btn-default btn-outline-primary btn-lg">Download Resume</button>
        </a>
      </div>
    </div>
  </div>
</section>